<div class="container">
    <div class="row">
      <div id="content_left" class="col">
        <p>Buscando Ferronita</p>

        <ul>
            <li>¿Prefieres divertirte antes que trabajar?</li>
            <li>¿Cómo te sientes cuando los demás te llaman la atención?</li>
        </ul>

        <p>En el lejano planeta “Delta” de la galaxia “Sigma” vivía un grupo de extraterrestres muy
            simpáticos, graciosos y juguetones. Eran de color verde y tenían la barriguita salida. Su
            voz era un poco extraña, algo chillona, sonaba como clarinete descompuesto. Entre estos
            alienígenas se encontraba Pichín, un extraterrestre muy peculiar porque le encantaba
            jugar todo el tiempo. Mientras sus amigos trabajaban excavando rocas, Pichín se ponía
            a jugar con ellas haciendo malabares y hasta hacía la travesura de aventárselas a sus
            compañeros. —¡Ven acá flojo y trabaja con nosotros! Deja de estar jugando y ayúdanos
            a excavar rocas, —dijo uno de ellos a Pichín. Pero este ni siquiera volteó a verlo; ¡era caso
            perdido! a Pichín sólo le interesaba jugar.
        </p>

        <p>Todos estaban excavando rocas porque el jefe del grupo, El Gran Frugo, había ordenado
            buscar un material que ayudaría a construir naves indestructibles para viajar por todo
            el universo. Este material se conocía como “Ferronita” y era mil veces más resistente
            que los diamantes. Como no había llovido ácido en mucho tiempo, el suelo estaba lleno
            de rocas que dificultaban obtener ese preciado material, por eso todos trabajaban
            arduamente ¡pero eso sí!, descansando cuando era necesario, comiendo a sus horas
            y también con tiempo suficiente para jugar y divertirse. El Gran Frugo era alguien muy
            importante, le gustaba el orden y la sencillez en todo, por eso él era el jefe del grupo,
            se había ganado el respeto por su ejemplo de moderación. Sin embargo, Pichín no
            pensaba lo mismo... Para él todo era jugar y jugar, sin horarios enfadosos ni limitaciones.
            Su único deseo era bromear todas las ocasiones. Total... ¿Qué tenía de malo divertirse?
        </p>
      </div>
      <div id="content_right" class="col">
        <p>Gustos y obligaciones</p>

        <p>Responde a las preguntas escribiendo lo que se pide.</p>

        <p><b>1.</b> Mientras los demás trabajaban, Pichín se dedicaba a:</p>

        <mat-form-field class="example-full-width">
            <textarea matInput></textarea>
        </mat-form-field>

        <p><b>2.</b> ¿Cómo describes al Gran Frugo? ¿Qué actitudes positivas tenía?</p>

        <mat-form-field class="example-full-width">
            <textarea matInput></textarea>
        </mat-form-field>

        <p><b>3.</b> ¿Cómo crees que se sentían los compañeros de Pichín al verlo divertirse y hacer travesuras mientras ellos trabajaban?</p>

        <mat-form-field class="example-full-width">
            <textarea matInput></textarea>
        </mat-form-field>

        <p>Con diferente color, rellena los tubitos según te guste esa actividad. Después, ordénalos en la parte de abajo por importancia.</p>

        <mat-slider>
            <input matSliderThumb>
        </mat-slider>

        <mat-slider>
            <input matSliderThumb>
        </mat-slider>

        <mat-slider>
            <input matSliderThumb>
        </mat-slider>

        <mat-slider>
            <input matSliderThumb>
        </mat-slider>

        <p>Controla tus impulsos y ganarás siempre</p>

        <mat-form-field appearance="fill">
            <mat-select [disabled]="disableSelect.value">
              <mat-option value="option1">DORMIR</mat-option>
              <mat-option value="option2">COMER</mat-option>
              <mat-option value="option3">JUGAR</mat-option>
              <mat-option value="option4">ESTUDIAR</mat-option>
            </mat-select>
        </mat-form-field>
        
        <p>Controla tus impulsos y ganarás siempre</p>

      </div>
    </div>
</div>