<div class="container">
    <div class="row">
      <div id="content_left" class="col">
        <p>Lección aprendida</p>

        <ul>
          <li>¿Cómo podemos reparar nuestros errores?</li>
          <li>¿Sabes reconocer cuandote equivocas?</li>
        </ul>

        <p>—Pichín, alienígena travieso y sin control... Hoy tú eres el responsable de este problema
          que nos afecta a todos. Por tu falta de moderación ahora debemos volver a empezar
          con el trabajo que ya habíamos avanzado. Teníamos el plan de construir nuestra nave
          de inmediato pero ahora, ya no podremos hacerlo así. No descansaste cuando era el
          momento, no fuiste prudente, —dijo el Gran Frugo molesto por la situación.</p>
        
        <p>Pichín estaba arrepentido por su conducta pero el problema ya estaba hecho... Las rocas
          estaban caídas, la Ferronita sepultada y el tiempo encima. —¡Perdónenme por mi falta
          de control! Yo pensaba que jugar sin preocuparme por nada era lo mejor, pero ya me
          doy cuenta de que no es así... Sé que me he equivocado y aceptaré las consecuencias.</p>
        
        <p>—Por tu falta de moderación tendrás que excavar y excavar por un largo tiempo...
          Descansarás lo necesario, comerás lo suficiente, trabajarás lo justo, pero por tu mal
          comportamiento, no jugarás hasta no haber recuperado el trabajo que los demás
          hicieron.</p>

        <p>Y así fue; Pichín se puso su casco, tomó el pico y comenzó a trabajar y trabajar sin
          divertirse, mientras veía como todos los demás jugaban felices aprovechando su
          descanso tan necesario y comiendo lo suficiente. Pichín el extraterrestre tardó 380 horas
          terrícolas en volver a desenterrar la Ferronita. Al terminar su labor había aprendido una
          lección importante: “moderarse es disfrutar la vida”.</p>
      </div>
      <div id="content_right" class="col">
        <p>Un mundo diverso</p>

        <p>Así como los extraterrestres querían construir su nave de
          cierto material, también los humanos utilizamos variedad de
          minerales para construir transportes, viviendas y cosas para
          la vida. Investiga cómo son y para qué se utilizan los siguientes
          minerales, completando la tabla según corresponda.</p>

          <table>
            <tr>
              <th>Mineral</th>
              <th>Características</th>
              <th>Uso</th>
            </tr>
            <tr>
              <td>COBRE</td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field></td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>MERCURIO</td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field></td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>ACERO</td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field></td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>ALUMINIO</td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field></td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>ORO</td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field></td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field>
              </td>
            </tr>
          </table>
          
          <p>Sé moderado para ser feliz</p>
      </div>
    </div>
</div>