.encabezado {
    height: 180px;
    position: relative;
}

.titulo_actividad {
    font-family: 'Chalkboard_Bold';
    font-size: 30px;
    color: rgb(109, 112, 111);
}

.actividad_image {
    /*width: 20%; */
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 0);
    height: 160px;
    width: auto;
}