<div class="row"><app-cambiar-pagina></app-cambiar-pagina></div>
<div class="row">
  <div id="content_left" class="col">
    <app-lectura 
      [titulo]="titulo"
      [colorTitulo]="colorTitulo"
      [foco1]="foco1"
      [foco2]="foco2"
      [colorFoco]="colorFoco"
      [imagen]="imagen"
      [lectura]="lectura">
    </app-lectura>
  </div>
  <div id="content_right" class="col">
    <app-actividad-titulo
      [titulo]="actividadTitulo"
      [imagen]="acctividadImagen">
    </app-actividad-titulo>
    
    <app-lapicito
      [bloque]="bloque"
      [texto]="actividad_1">
    </app-lapicito>
    
    <table>
      <tr>
        <td>
          <b>Nombre:</b>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Abejas">
          </mat-form-field>

          <b>Producen:</b>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Miel">
          </mat-form-field>

          <b>Sirve para:</b>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Alimentacion, fabricacion de velas y productos medicinales"></textarea>
          </mat-form-field>
        </td>
        <td>
          <b>Nombre:</b>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Abejas">
          </mat-form-field>

          <b>Producen:</b>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Miel">
          </mat-form-field>

          <b>Sirve para:</b>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Alimentacion, fabricacion de velas y productos medicinales"></textarea>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <b>Nombre:</b>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Abejas">
          </mat-form-field>

          <b>Producen:</b>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Miel">
          </mat-form-field>

          <b>Sirve para:</b>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Alimentacion, fabricacion de velas y productos medicinales"></textarea>
          </mat-form-field>
        </td>
        <td>
          <b>Nombre:</b>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Abejas">
          </mat-form-field>

          <b>Producen:</b>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Miel">
          </mat-form-field>

          <b>Sirve para:</b>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Alimentacion, fabricacion de velas y productos medicinales"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <p>Convierte tus buenas intenciones en acciones</p>
  </div>
</div>