<div class="container">
    <div class="row">
      <div id="content_left" class="col">
        <p>Las locas actitudes de Pichín</p>

        <ul>
          <li>¿Eres una persona moderada?</li>
          <li>Alguna vez por irte a lo fácil, ¿has tenido problemas con los demás?</li>
        </ul>

        <p>En el planeta Delta un día duraba como unas 93 horas terrícolas. Era medio día cuando
          sonaba la chicharra que invitaba a todos los trabajadores a tomar su descanso. Para
          colmo, Pichín el extraterrestre seguía jugando y jugando como si no hubiera mañana.
          Brincaba de un lado a otro, con sus antenitas hacía chispas y era feliz amenazando a
          los bichos con electrocutarlos. Sus compañeros dejaban sus cascos y sus picos y se
          iban a comer unas deliciosas esponjas lunares en salsa de moho; luego, a dormir una
          pequeña siesta para recuperar fuerzas. Todos seguían el horario del Gran Frugo quien
          comandaba con bastante serenidad. Descansaban lo necesario, comían lo suficiente,
          trabajaban lo justo y se divertían sanamente; pero Pichín, mientras todos dormían él
          cantaba, mientras todos comían él jugaba, mientras todos trabajaban él enfadaba; y
          así, ni ayudaba ni hacia lo que correspondía.</p>

          <p>Pichín iba corriendo por ahí buscando algo en qué entretenerse cuando observó un trozo
            de Ferronita brillar en el suelo debajo de un montón de rocas. Fue ahí cuando pensó
            que podía sorprender a todos y agradar al Gran Frugo, sólo necesitaba sacar el valioso
            material. Como creyó que era “fácil” sujetó el pedazo de Ferronita, tiró y tiró con todas
            sus fuerzas, sudó la gota gorda y ¡bravo!, había sacado el trozo que tanto quería. Pero
            justo cuando empezaba a celebrar su fácil hazaña, sintió un temblor fuerte y empezó
            a ver cómo la pila de rocas que habían hecho sus compañeros se desmoronaba como
            castillito de arena en el mar.</p>
      </div>
      <div id="content_right" class="col">
        <p>¿A dónde puedes llegar?</p>

        <p>Ayuda a los extraterrestres trabajadores a recuperar sus
          herramientas. Guíate por las actitudes que pueden ayudarnos
          a ser mejores.</p>

          Para el laberinto pence en hacer una matriz de cubo, he ir rellenando los cubos con click del mouse y moviendose encima del cubo

        <p>Contesta en la siguiente tabla 3 cosas que podrían pasar si
          eres moderado o si te dejas llevar por tus caprichos:</p>
        
          <table>
            <tr>
              <th colspan="2">Qué puede pasar si...</th>
            </tr>
            <tr>
              <td>Soy moderado y me controlo:</td>
              <td>Me dejo llevar por caprichos:</td>
            </tr>
            <tr>
              <td><b>1.</b>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field>
              </td>
              <td><b>1.</b>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td><b>2.</b>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field>
              </td>
              <td><b>2.</b>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td><b>3.</b>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field>
              </td>
              <td><b>3.</b>
                <mat-form-field class="example-full-width">
                  <input matInput>
                </mat-form-field>
              </td>
            </tr>
          </table>

          <p>Esfuérzate en lograr metas, no caprichos</p>
      </div>
    </div>
</div>