<div class="row"><app-cambiar-pagina></app-cambiar-pagina></div>
<div class="row">
  <div id="content_left" class="col">
    <app-lectura 
      [titulo]="titulo"
      [colorTitulo]="colorTitulo"
      [foco1]="foco1"
      [foco2]="foco2"
      [colorFoco]="colorFoco"
      [imagen]="imagen"
      [lectura]="lectura">
    </app-lectura>
  </div>
  <div id="content_right" class="col">
    <app-actividad-titulo
      [titulo]="actividadTitulo"
      [imagen]="acctividadImagen">
    </app-actividad-titulo>
    
    <app-lapicito
      [bloque]="bloque"
      [texto]="actividad_1">
    </app-lapicito>
    
    <p>NECESITAMOS</p>
        <ul>
          <li>Un pañuelo grande y 3 naranjas por persona.</li>
        </ul>

        <p>INSTRUCCIONES</p>
        <p>En un espacio abierto, se formarán dos grandes equipos
          equivalentes en el grupo. Uno será el de las abejas y otro
          el de los abejorros. Cada compañero juntará sus piernas y
          se las amarrará con su pañuelo a la altura de los tobillos,
          hasta quedar sin poder separarlas. El maestro(a) colocará
          las naranjas de todo el equipo por diferentes áreas del
          patio. Cada equipo tendrá su colmena, a donde tendrá
          que llevar la mayor cantidad de naranjas posible, usando
          sus manos para transportarlas. Pueden hacerlo de uno en
          uno o todos juntos, contra reloj o en competencia directa
          según el criterio del docente.
        </p>

        <p>Al final ganará el equipo que más naranjas haya llevado a su colmena.</p>
        <p>Después de haber participado en esta actividad, platica tu experiencia:</p>

        <ul>
          <li>¿Qué fue lo que hizo ganar al equipo vencedor?</li>
          <li>¿Qué pasa si alguno de mi equipo, en lugar de trabajar hiciera otra cosa?</li>
          <li>¿Por qué es importante que sepamos controlarnos para ganar?</li>
        </ul>

        <p>Disciplinarse a tiempo evita problemas</p>
  </div>
</div>