<div class="container">
    <div class="row">
      <div id="content_left" class="col">
        <p>¡De haberse moderado!</p>

        <ul>
          <li>¿Qué sientes cuando los demás te regañan?</li>
          <li>¿Qué crees que puedes hacer para evitar problemas con los demás?</li>
        </ul>

        <p>Pichín veía cómo el trabajo de sus compañeros se desmoronaba (literalmente) y poco
          a poco la Ferronita se ocultaba nuevamente entre las rocas. Pensó en tomar un OVNI
          y huir a otra galaxia, en enterrarse en el suelo y dejar sus antenitas fuera para respirar
          de por vida, o simplemente huir al otro lado del planeta. Justo cuando comenzaba a
          correr no duró ni cinco segundos cuando ya se había agitado, pues no descansaba
          lo necesario; apenas comenzaba a pensar otra idea para escapar cuando le dolió
          su cabeza, pues no dormía lo suficiente; ¡y peor aún!, los demás miembros del grupo
          corrían hacia él asustados por el temblor y queriendo saber qué había pasado. ¡Estaba
          perdido! Su falta de moderación lo había llevado a un gran problema y no sólo a él, sino
          a todos los demás.</p>

        <p>Llegaron junto a Pichín y al ver la escena unos decían: —¿Pero qué has hecho Pichín?
          ¡Has tirado nuestro trabajo a la basura! —¡Mira nada más! Ahora no podremos construir
          nuestra nave para salir del planeta. —¡Deberíamos darte tu merecido! —decían los
          demás molestos y tristes a la vez. El travieso alienígena se sentía desconsolado, de
          haberse moderado esto no estaría sucediendo; de haber descansado lo necesario, de
          haber comido lo suficiente, de haber trabajado lo justo y divertirse sanamente, su vida
          sería diferente.</p>
        
        <p>—¡Calma mis amigos! ¡Calma! Serénense y piensen dos veces antes de actuar. ¡No
          hagamos algo de lo que podamos arrepentirnos! Esa voz era conocida por todos... El
          Gran Frugo había llegado al lugar donde sucedió el desastre y caminando entre las
          rocas se acercó lentamente a Pichín el extraterrestre.</p>
      </div>
      <div id="content_right" class="col">
        <p>¡Cuida tus globos!</p>

        <p>Con ayuda de tu maestro(a) participa en esta dinámica.</p>

        <p>Para esta actividad necesitaremos:</p>

        <ul>
          <li>Dos globos de diferente color</li>
          <li>Medio metro de hilaza o rafia</li>
          <li>Tijeras</li>
        </ul>

        <p>DESARROLLO</p>

        <p>Se harán dos grandes equipos de la misma cantidad de personas. Cada
          uno inflará sus globos y los atará con la hilaza, uno en cada pie; mientras
          más inflado quede el globo, más riesgo tendrá de ser tronado, mientras
          menos inflado quede, más riesgo habrá de que puedas ser lastimado.
          Debes inflarlos moderadamente.</p>

        <p>Se acomodan los dos equipos en un espacio amplio, uno enfrente del
          otro. A la señal del profesor(a), saldrán todos a buscar reventar los globos
          del equipo contrario sólo pisándolos con el pie, teniendo mucho cuidado
          de no lastimar a sus compañeros. Si alguien pierde sus dos globos,
          automáticamente sale del terreno de juego. Al final, ganará el equipo
          que haya conservado por lo menos un globo. Puede existir la variante de
          límite de tiempo, ganando el equipo que más globos haya conservado
          inflados. Al final de la actividad, comenten en el grupo lo siguiente:</p>

        <p>¿Por qué fue importante inflar los globos con moderación?</p>
        <p>¿Cómo puede ayudarnos la moderación a no salir lastimados?</p>
        <p>¿Qué pasaría si todos hubiéramos inflado nuestros globos en exceso?</p>
        <p>¿Por qué es necesario saber controlarnos?</p>

        <p>Pueden repetir esta actividad cuantas veces gusten, incluso hacer más
          de dos equipos o aumentar el número de globos.</p>

        <p>Contrólate, evita excesos en lo que haces</p>
      </div>
    </div>
</div>